@page
@model Merit_Tracker.Pages.DashboardUserModel
@{
}
<html>
<head>
	<link rel="stylesheet" href="~/css/user.css" asp-append-version="true" />
</head>
<body>
	<div class="container min-vh-100 justify-content-center align-items-center d-flex">
	</div>
	<script src="~/js/user.js" asp-append-version="true"></script>
</body>

</html>
