@page
@model Merit_Tracker.Pages.DatabaseEditor
@{
}
<html>
	<head>
		<link rel="stylesheet" href="~/css/database-editor.css" asp-append-version="true"/>
	</head>
	<body>
		<div class="container">
           <!--<div class="header-section">
                <div class="page-heading">
                    <h1>Database Editor</h1>
					<button class="export-button">Export as CSV</button>
				</div>
			</div>
			<div class="main-section row g-4">
				<div class="database-section col">
					<div class="database-heading">
						<h1>Mooroolbark College 2025</h1>
						<div class="crud-section">
							<button class="crud-button"><img width="17" src="~/media/icons/plus.png"/></button>
							<button class="crud-button"></button>
							<button class="crud-button"></button>
							<button class="crud-button"></button>
						</div>
					</div>
					<div class="database-list">
						hi
					</div>
				</div>
				<div class="activity-section col">
					hi
				</div>
			</div>-->

			<div class="heading-section row-1 mt-3">
				<div class="col">
					<div class="page-heading">
						<h1>Database Editor</h1>
						<button class="export-button">Export as CSV</button>
					</div>
				</div>
			</div>
			<div class="main-section row">
				<div class="col px-0 database-section">
					<div class="row g-0">
						<div class="database-heading col">
							<h1>Mooroolbark College 2025</h1>
							<div class="crud-section">
								<button class="crud-button"><img width="19" src="~/media/icons/plus.png" style="vertical-align: -2px"/></button>
								<button class="crud-button"><img width="19" src="~/media/icons/edit.png" style="vertical-align: -1px"/></button>
								<button class="crud-button"><img width="23" src="~/media/icons/delete.png" style="vertical-align: -3px"/></button>
								<button class="crud-button"><img width="22" src="~/media/icons/filter.png" style="vertical-align: -3px"/></button>
							</div>
						</div>
					</div>
					<div class="row g-0">
						<div class="database-list col">
							<form class="merit-list-input">
								<ul class="merit-list">
								@for (int i = 0; i < 5; i++)
								{
									<li class="merit-view">
										<label class="merit-view-label">
											<input type="checkbox" class="merit-view-checkbox form-check-input"/>
											<div class="merit-view-container">
												<div class="merit-main-details">
													<div class="merit-view-name">Ryan Thomson</div>
													<div class="merit-view-date">21 May 2025</div>
												</div>
												<div class="merit-view-misc-details">
													<div class="value misc-detail">Value: <span>Endeavour</span></div>
													<div class="house-points misc-detail">House Points: <span>3</span></div>
													<div class="issued-by misc-detail">Issued by: <span>Jack Grealish</span></div>
												</div>
											</div>
										</label>
									</li>
								}

								</ul>
							</form>
						</div>
					</div>
				</div>
				<div class="col-4 px-0 activity-section">
					<div class="row g-0">
						<div class="activity-heading col">
							<h1>Activity Logs</h1>
						</div>
						<div class="activity-list">
							
						</div>
					</div>
				</div>
			</div>
	</body>
</html>