<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Merit Tracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
    <body>
    @if (ViewData["Title"] != "Login")
    {
        <div class="sidebar">
            <div class="sidebar-title">Merit Tracker</div>
            <div class="nav-links">
                <!--Making the dashboard side button active only if the current page is dashboard-->
                <a href="/Dashboard" class="nav-item @(ViewData["Title"] == "Dashboard" ? "active" : "")">Dashboard</a> 
                <form method="post" action="/Logout" style="margin: 0;">
                    @Html.AntiForgeryToken()
                  <button type="submit" class="nav-item logout-text"><span class="logout-text">Log Out</span></button>
                </form>

            </div>
        </div>
    }
    <main role="main">
            @RenderBody()
    </main>


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>

</html>